<?xml version="1.0" encoding="utf-8"?>
<!--                                                 -->
<!-- Don't forget to XML Encode the URL as needed    -->
<!--                                                 -->
<Config Version="168">
  <IPTVTeleviz Default="True">
    <![CDATA[
      #EXTINF:11 logo="pkg:/data/Channel 1.jpg" group-REM-title="Hebrew" ,Channel 1
      http://iba-s.vidnt.com/iba_channel-511BRepeat/_definst_/channel-511B_4.stream/playlist.m3u8?ttl=1476323617&amp;cdn_token=a40c58445234f2b11017623949401b99
      #EXTINF:16 logo="pkg:/data/Channel 2 News.png" group-title="Hebrew" ,Channel 2 news
      http://keshethlslive-lh.akamaihd.net/i/c2n_1@195269/master.m3u8
      #EXTINF:522 logo="pkg:/data/Channel 2.jpg" group-title="Hebrew" ,Channel 2
      http://89.45.186.26:1935/live/380/manifest.m3u8
      #EXTINF:10 logo="pkg:/data/Channel 10.jpg" group-REM-title="Hebrew" ,Channel 10 SD
      http://nana10-hdl-il.ctedgecdn.net/Nana10-Live/amlst:mob_,500,800,1000,/playlist.m3u8
      #EXTINF:10 logo="pkg:/data/Channel 10.jpg" group-title="Hebrew" ,Channel 10 HD
      http://nana10-hdl-il-sw.ctedgecdn.net/Nana10-Live/amlst:hd_,1000,1500,1800,/playlist.m3u8 
      #EXTINF:24 logo="pkg:/data/One.jpg" group-REM-title="Hebrew" ,Sport One
      http://158.69.228.46:8081/livetv/C1506/playlist.m3u8
      #EXTINF:613 logo="pkg:/data/Sport.jpg" group-REM-title="Hebrew" ,Sport 1
      http://158.69.228.46:8081/livetv/C1522/playlist.m3u8
      #EXTINF:613 logo="pkg:/data/Sport.jpg" group-REM-title="Hebrew" ,Sport 2
      http://158.69.228.46:8081/livetv/C1521/playlist.m3u8
      #EXTINF:5 logo="pkg:/data/Sports 5.jpg" group-title="Hebrew" ,Sport 5
      http://sport5_live1-lh.akamaihd.net/i/live3_0@129322/index_2_av-b.m3u8
      #EXTINF:3 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Plus.png" group-REM-title="Hebrew" ,Hot Plus
      http://158.69.228.46:8081/livetv/C1523/playlist.m3u8
      #EXTINF:3 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Fun.png" group-REM-title="Hebrew" ,Hot Fun
      http://158.69.228.46:8081/livetv/C1525/playlist.m3u8
      #EXTINF:3 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Drama.png" group-REM-title="Hebrew" ,Hot Drama
      http://158.69.228.46:8081/livetv/C1526/playlist.m3u8
      #EXTINF:3 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Zone.jpg" group-REM-title="Hebrew" ,Hot Zone
      http://158.69.228.46:8081/livetv/C1529/playlist.m3u8
      #EXTINF:3 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%203.png" group-REM-title="Hebrew" ,Hot 3
      http://158.69.228.46:8081/livetv/C1537/playlist.m3u8
      #EXTINF:14 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Action.png" group-REM-title="Hebrew" ,Hot Action
      http://158.69.228.46:8081/livetv/C1544/playlist.m3u8
      #EXTINF:13 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Hot%20Gold.png" group-REM-title="Hebrew" ,Hot Gold
      http://158.69.228.46:8081/livetv/C1545/playlist.m3u8
      #EXTINF:24 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Baby%20TV.jpg" group-REM-title="Hebrew" ,Baby TV
      http://158.69.228.46:8081/livetv/C1542/playlist.m3u8
      #EXTINF:24 logo="http://www.xlrod.com/Roku%20-%20Live%20From%20Israel/Nick%20Jr.jpg" group-REM-title="Hebrew" ,Nick Jr
      http://158.69.228.46:8081/livetv/C1501/playlist.m3u8
      #EXTINF:24 logo="pkg:/data/Nick.jpg" group-REM-title="Hebrew" ,Nick
      http://158.69.228.46:8081/livetv/C1532/playlist.m3u8
      #EXTINF:24 logo="pkg:/data/Hop.jpg" group-REM-title="Hebrew" ,Hop
      http://158.69.228.46:8081/livetv/C1502/playlist.m3u8
      #EXTINF:24 logo="pkg:/data/Music 24.jpg" group-title="Hebrew" ,Music 24
      http://keshethlslive-lh.akamaihd.net/i/24live_1@195271/index_2000_av-b.m3u8
      #EXTINF:622 logo="pkg:/data/Glgltz.jpg" group-title="Hebrew" ,Galgaltz
      http://glzlv01.vds-is.bynetcdn.com/glglz/glglz_aac/playlist.m3u8 
      #EXTINF:621 logo="pkg:/data/Gltz.jpg" group-title="Hebrew" ,Galei Zahal
      http://glzlv01.vds-is.bynetcdn.com/glz/glz_aac/playlist.m3u8 
    ]]>
  </IPTVTeleviz>
    
  <Exclude>
<!--
    <Channel Name="ערוץ 20"/>
-->
  </Exclude>

  <Translation>
    <Channel Source="הערוץ הראשון" Dest="Channel 1"/>
    <Channel Source="ערוץ 10 ישראל" Dest="Channel 10"/>
    <Channel Source="ערוץ 22 רשת ראשון-שלישי" Dest="Reshet Sun.-Tue."/>
    <Channel Source="ערוץ 22 קשת רביעי-שבת" Dest="Keshet Wed.-Sat."/>
    <Channel Source="ערוץ 22 כל השבוע"  Dest="Channel 22 all week"/>
    <Channel Source="גלגלצ" Dest="Galgaltz"/>
    <Channel Source="גלצ" Dest="Galei Zahal"/>
    <Channel Source="ערוץ הספורט" Dest="Sport channel"/>
    <Channel Source="ספורט 5 פלוס" Dest="Sport 5 plus"/>
    <Channel Source="ספורט מתחלף" Dest="Sport - rotating"/>
    <Channel Source="ספורט מתחלף 2" Dest="Sport - rotating 2"/>
    <Channel Source="ספורט 5 מובייל" Dest="Sport 5 mobile"/>
    <Channel Source="חדשות 22" Dest="Channel 2 news"/>
    <Channel Source="ערוץ המוזיקה" Dest="Music 24"/>
  </Translation>

  <LocalImage>
    <Image Source="http://televiz.net/static/img/logos/c11.png" Dest="pkg:/data/Channel 1.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c16.png" Dest="pkg:/data/Channel 2 News.png"/>
    <Image Source="http://televiz.net/static/img/logos/c611.png" Dest="pkg:/data/Reshet.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c22.png" Dest="pkg:/data/Keshet.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c522.png" Dest="pkg:/data/Channel 2.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c10.png" Dest="pkg:/data/Channel 10.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c613.png" Dest="pkg:/data/Sport.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c503.png" Dest="pkg:/data/Sport.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c24.png" Dest="pkg:/data/Music 24.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c622.png" Dest="pkg:/data/Glgltz.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c621.png" Dest="pkg:/data/Gltz.jpg"/>
    <Image Source="http://televiz.net/static/img/logos/c601.png" Dest="pkg:/data/NFL Now.png"/>
    <Image Source="http://televiz.net/static/img/logos/c923.png" Dest="pkg:/data/Poker Central.png"/>
  </LocalImage>
</Config>
